html {
    font-family: "Arial", sans-serif;
}

.main-page {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
}

.header--home {
    padding: 0 0 0 0;
}

.nav-brand--header:hover {
    color: white;
}

.footer--index {
    font-size: small;
    margin-top: auto;
}

.parciales--header:hover {
    color: white;
    font-weight: 900;
    box-shadow: 2px 5px 0px 0px rgba(0,0,0,0.6);
}

.card-link--home {
    color: rgb(48, 48, 48);
    text-decoration: none;
}

.card-link--home:hover {
    color: black !important;
    box-shadow: 0px 1px 8px black;
}

.parciales-tag--card-div {
    margin-bottom: 15px !important;
}

.border-radius-card {
    border-radius: 15px !important;
}

.btn-parciales {
    margin-bottom: 5px !important;
}

.btn-finales {
    margin-bottom: 5px !important;
    margin-top: 10px !important;
}